<div class="card shadow">
    <div class="card-header bg-primary">
        <h6 class="text-light mb-1">Sensitive Data Metrics</h6>
    </div>
    <div class="card-body">
        <div class="d-flex flex-row">
            <span class="w-50">
                <ngx-charts-bar-vertical-2d [view]="[400, 300]" [scheme]="colors" [results]="graphSensitiveData"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle">
                </ngx-charts-bar-vertical-2d>
            </span>
            <span class="w-50">
                <ngx-charts-bar-vertical-2d [view]="[400, 300]" [scheme]="colors" [results]="graphNonSensitiveData"
                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle">
                </ngx-charts-bar-vertical-2d>
            </span>
        </div>
    </div>
</div>