/* You can add global styles to this file, and also import other style files */
$body-bg: #4153AF;
$primary: #397CE2;
@import "../node_modules/bootstrap/scss/bootstrap";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.card{
    border: 0px;
    overflow: hidden;
}

.fab-btn{
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.chart-legend .legend-wrap{
    width: 160px !important;
}
.chart-legend .legend-label{
    width: 300px !important;
}